*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  
}
.container{
    height: 150vh;
    width: 100%;
}
.top{
    width: 100%;
    height: 10%;
    background-color: rgb(4, 0, 255);
}
.main{
    height: 65%;
    width: 100%;
    display: flex;
    background-color: rgb(255, 255, 255);
}
.bottom{
    width: 100%;
    height: 26%;
    background-color: black;
}


